body{
	margin: 0px;
	background-color: #f5f5f5;
	min-width: 884px;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

::Selection{
	background: #ee3434;
	color: #fff;
}

::-moz-Selection{
	background: #ee3434;
	color: #fff;
}

a:link {
	color: #EE3434;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #EE3434;
}
a:hover {
	text-decoration: underline;
	color: #EE3434;
}
a:active {
	text-decoration: none;
	color: #EE3434;
}

div.noSelection{
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

div.defaultText{
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
}

div.defaultCursor{
	cursor: default;
}

div.pointCursor{
	cursor: pointer;
}

div.headerContainer{
	background-color: #fff;
	width: 100%;
}

div.header{
	height: 187px;
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
	background-position: 104px 100px;
}

div.searchBox{
	height: 34px;
	width: 248px;
	background-color: red;
	float: right;
	margin-top: 120px;
	margin-right: 72px;
}

div.searchTextWrapper{
	width: 214px;
	height: 32px;
	float: left;
}

input.searchText{
	width: 214px;
	height: 30px;
	background-color: #fff;
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
	outline: none;
	border: 1px solid #dcdcdc;
	padding-left: 5px;
	padding-right: 37px;
	transition: border 0.5s;
}

input.searchText:focus{
	border: 1px solid #ee3434;
}

div.searchButton{
	width: 32px;
	height: 34px;
	background-image: url(../images/search_button.jpg);
	background-position: center;
	background-repeat: no-repeat;
	margin-right: -10px;
	float: right;
	cursor: pointer;
}

div.searchButtonHover{
	width: 32px;
	height: 34px;
	background-image: url(../images/search_button_hover.jpg);
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity 0.5s;
}

div.searchButtonHover:hover{
	opacity: 1;
}

div.sortBoxContainer{
	width: 100%;
	height: 32px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: default;
}

div.sortBox{
	height: 32px;
	width: 360px;
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
	margin-left: auto;
	margin-right: auto;
}

div.sortBoxItem{
	height: 32px;
	width: 120px;
	display: block;
	vertical-align: middle;
	text-align: center;
	float: left;
}

div.sortBoxItemSelected{
	cursor: default;
	font-weight: bold;
	color: #ee3434;
}

div.sortBoxItemNotSelected{
	cursor: pointer;
	transition: color 0.5s;
}

div.sortBoxItemNotSelected:hover{
	color: #ee3434;
}

div.sortBoxSeparator{
	width: 100%;
	height: 1px;
	background-color: #ee3434;
}

div.searchResultContainer{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	width: auto;
	cursor: pointer;
	background-color: #fff;
	transition: background-color 0.5s;
}

div.searchResultContainer:hover{
	background-color: #f5f5f5;
}

div.searchResultTitle{
	font-family: Titillium Web;
	font-size: 18px;
	color: #ee3434;
	font-weight: bold;
	margin-bottom: 10px;
	width: auto;
}

div.searchResultContent{
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
	width: auto;
}

div.searchResultSeparator{
	margin-left: 140px;
	margin-right: 140px;
	margin-top: -1px;
	width: auto;
	height: 1px;
	background-color: #ebebeb;
}

div.pageNavigationContainer{
	width: 100%;
	font-family: Titillium Web;
	font-size: 14px;
	margin-top: 30px;
}

div.pageNavigation{
	margin-left: auto;
	margin-right: auto;
	height: 22px;
	width: 240px;
}

div.pageNavigationItem{
	width: 80px;
	height: 22px;
	display: block;
	vertical-align: middle;
	text-align: center;
	color: #b7b7b7;
	float: left;
}

div.headerTabs{
	width: 864px;
	height: 43px;
}

div.headerFollowupTabs{
	visibility: hidden;
	position: fixed;
	width: 100%;
	background-color: #fff;
}

div.headerSeparator{
	height: 5px;
	width: 100%;
	background-color: #ee3434;
}

div.tab{
	height: 40px;
	padding-top: 3px;
	background-color: #fff;
	font-family: Titillium Web;
	font-size: 24px;
	color: #373737;
	width: 144px;
	float: left;
	cursor: pointer;
	transition: color 0.5s;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

div.tab:hover{
	color: #ee3434;
}

div.tabSelected{
	height: 40px;
	padding-top: 3px;
	background-color: #ee3434;
	font-family: Titillium Web;
	font-size: 24px;
	color: #ffffff;
	width: 144px;
	float: left;
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

div.filterTitle{
	background-color: #fff;
	font-family: Titillium Web;
	font-size: 24px;
	color: #ee3434;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	display: block;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}

div.postsBody{
	width: 864px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-bottom: 30px;
	overflow: hidden;
	border: solid 1px #ebebeb;
}

div.postContainer{
	width: 100%;
	overflow: hidden;
}

div.postHeader{
	width: 100%;
	min-height: 50px;
	overflow: hidden;
}

div.postHeaderTitle{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 24px;
	margin-right: 24px;
	font-family: Titillium Web;
	font-size: 24px;
	font-weight: bold;
	color: #ee3434;
	overflow: hidden;
}

div.postHeaderSeparator{
	width: 100%;
	height: 2px;
	background-color: #ee3434;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	overflow: hidden;
}

div.postBody{
	width: 100%;
}

div.postInfo{
	margin-left: 24px;
	margin-top: 5px;
	font-family: Titillium Web;
	font-size: 14px;
	color: #5F5F5F;
}

div.postBodyContent{
	font-family: Titillium Web;
	color: #373737;
	font-size: 18px;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 10px;
	margin-top: 15px;
	overflow: hidden;
}

div.tag{
	font-size: 14px;
	color: #fff;
	font-family: Titillium Web;
	background-color: #ee3434;
	height: 22px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: pointer;
	border-radius: 11px;
	border:1px solid #ee3434;
	transition: color 0.5s, background-color 0.5s;
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}

div.tagsWrapper{
	width: 100%;
	margin-top: 10px;
}

div.tag:hover{
	background-color: #fff;
	color: #ee3434;
}

img.globalImageStyle{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

div.commentSection{
	width: 794px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

div.commentFormRow{
	width: 100%;
	height: 30px;
	padding-bottom: 10px;
}

div.commentFormattingBox{
	width: 32px;
	height: 32px;
	margin-right: 8px;
	float: left;
}

div.formatBold{
	background-image: url(../images/format_bold.jpg);
}

div.formatItalic{
	background-image: url(../images/format_italic.jpg);
}

div.formatEmo{
	background-image: url(../images/format_emo.jpg);
}

div.formatBoldHover{
	background-image: url(../images/format_bold_hover.jpg);
}

div.formatInnerHover{
	opacity: 0;
	width: 32px;
	height: 32px;
	transition: opacity 0.5s;
}

div.formatInnerHover:hover{
	opacity: 1;
}

div.formatItalicHover{
	background-image: url(../images/format_italic_hover.jpg);
}

div.formatEmoHover{
	background-image: url(../images/format_emo_hover.jpg);
}

div.emoBox{
	width: 449px;
	height: 0px;
	padding-left: 3px;
	padding-right: 3px;
	margin-bottom: 0px;
	background-color: #fff;
	overflow: hidden;
	opacity: 0;
	transition: height 0.5s, opacity 0.5s, margin-bottom 0.5s;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

div.emoBoxItem{
	width: 18px;
	height: 18px;
	padding: 4px;
	float: left;
	background-color: #fff;
	opacity: 0.5;
	transition: background-color 0.25s, opacity 0.25s;
}

div.emoBoxItem:hover{
	background-color: #ddd;
	opacity: 1;
}

div.footer{
	height: 183px;
	background-color: #ee3434;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	display: inline-table;
}

div.footerLeft{
	height: 183px;
	width: 218px;
	display: table-cell;
	vertical-align: middle;
	padding-left: 27px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

div.footerCenter{
	height: 183px;
	display: table-cell;
	align-items: center;
	color: #fff;
	font-family: Titillium Web;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
}

div.footerRight{
	width: 301px;
	height: 183px;
	background-image: url(../images/footer_logo.jpg);
	background-position: bottom right;
	background-repeat: no-repeat;
	display: table-cell;
}

div.footerLeftIcon{
	width: 50px;
	height: 50px;
	float: left;
	margin: 7px;
}

div.footerLeftIconInner{
	width: 50px;
	height: 50px;
	opacity: 0;
	transition: opacity 0.5s;
}

div.footerLeftIconInner:hover{
	opacity: 1;
}

div.footerLeftIconFacebook{
	background-image: url(../images/social_facebook.jpg);
}

div.footerLeftIconTwitter{
	background-image: url(../images/social_twitter.jpg);
}

div.footerLeftIconLinkedin{
	background-image: url(../images/social_linkedin.jpg);
}

div.footerLeftIconGithub{
	background-image: url(../images/social_github.jpg);
}

div.footerLeftIconScirra{
	background-image: url(../images/social_scirra.jpg);
}

div.footerLeftIconNewgrounds{
	background-image: url(../images/social_newgrounds.jpg);
}

div.footerLeftIconFacebookHover{
	background-image: url(../images/social_facebook_hover.jpg);
}

div.footerLeftIconTwitterHover{
	background-image: url(../images/social_twitter_hover.jpg);
}

div.footerLeftIconLinkedinHover{
	background-image: url(../images/social_linkedin_hover.jpg);
}

div.footerLeftIconGithubHover{
	background-image: url(../images/social_github_hover.jpg);
}

div.footerLeftIconScirraHover{
	background-image: url(../images/social_scirra_hover.jpg);
}

div.footerLeftIconNewgroundsHover{
	background-image: url(../images/social_newgrounds_hover.jpg);
}

#wrapper{
	position: relative;
	min-height: 100%;
}

#content{
	padding-bottom: 203px;
}

input.formText{
	height: 20px;
	width: 100%;
	background-color: #fff;
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
	border: 1px solid #b0b0b0;
	outline-color: #ee3434;
	padding: 5px;
}

input[type=submit]{
	width: 130px;
	height: 45px;
	background-color: #ee3434;
	border: 1px solid #ee3434;
	display: block;
	vertical-align: middle;
	text-align: center;
	font-family: Titillium Web;
	color: #fff;
	font-size: 18px;
	outline: 0;
	transition: background-color 0.5s, color 0.5s;
}

input[type=submit]:hover{
	background-color: #fff;
	color: #ee3434;
}

div.commentLabel{
	height: 42px;
	width: 100%;
	font-family: Titillium Web;
	font-size: 18px;
	color: #373737;
	vertical-align: middle;
	display: block;
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

textarea{
	height: 131px;
	width: 100%;
	padding: 5px;
	background-color: #fff;
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
	border: 1px solid #b0b0b0;
	resize: none;
	outline-color: #ee3434;
}

div.notificationHeader{
	word-wrap: break-word;
	font-family: Titillium Web;
	font-size: 18px;
	color: #ee3434;
}

div.notificationContent{
	word-wrap: break-word;
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
	margin-top: 5px;
}

div.commentTitle{
	width: 100%;
	color: #ee3434;
	font-family: Titillium Web;
	font-size: 18px;
	font-weight: bold;
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

div.commentHeader{
	width: 750px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

div.commenterName{
	font-family: Titillium Web;
	font-size: 14px;
	color: #5F5F5F;
	text-align: left;
	width: 50%;
	float: left;
}

div.commentDate{
	font-family: Titillium Web;
	font-size: 14px;
	color: #5F5F5F;
	text-align: right;
	width: 50%;
	float: right;
}

div.commentContent{
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 50px;
	word-wrap: break-word;
}

div.commentSeparator{
	width: 770px;
	height: 1px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ebebeb;
}