body{
	margin: 0px;
	background-color: #f5f5f5;
	min-width: 884px;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

::Selection{
	background: #ee3434;
	color: #fff;
}

::-moz-Selection{
	background: #ee3434;
	color: #fff;
}

a:link {
	color: #EE3434;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #EE3434;
}
a:hover {
	text-decoration: underline;
	color: #EE3434;
}
a:active {
	text-decoration: none;
	color: #EE3434;
}

.noSelection{
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.defaultText{
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
}

.defaultCursor{
	cursor: default;
}

.pointCursor{
	cursor: pointer;
}

.headerContainer{
	background-color: #fff;
	width: 100%;
}

.header{
	height: 187px;
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
	background-position: 104px 100px;
}

.searchBox{
	height: 34px;
	width: 248px;
	background-color: red;
	float: right;
	margin-top: 120px;
	margin-right: 72px;
}

.searchTextWrapper{
	width: 214px;
	height: 32px;
	float: left;
}

input.searchText{
	width: 214px;
	height: 30px;
	background-color: #fff;
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
	outline: none;
	border: 1px solid #dcdcdc;
	padding-left: 5px;
	padding-right: 37px;
	transition: border 0.5s;
}

input.searchText:focus{
	border: 1px solid #ee3434;
}

.searchButton{
	width: 32px;
	height: 34px;
	background-image: url(../images/search_button.jpg);
	background-position: center;
	background-repeat: no-repeat;
	margin-right: -10px;
	float: right;
	cursor: pointer;
}

.searchButtonHover{
	width: 32px;
	height: 34px;
	background-image: url(../images/search_button_hover.jpg);
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity 0.5s;
}

.searchButtonHover:hover{
	opacity: 1;
}

.sortBoxContainer{
	width: 100%;
	height: 32px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: default;
}

.sortBox{
	height: 32px;
	width: 360px;
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
	margin-left: auto;
	margin-right: auto;
}

.sortBoxItem{
	height: 32px;
	width: 120px;
	display: block;
	vertical-align: middle;
	text-align: center;
	float: left;
}

.sortBoxItemSelected{
	cursor: default;
	font-weight: bold;
	color: #ee3434;
}

.sortBoxItemNotSelected{
	cursor: pointer;
	transition: color 0.5s;
}

.sortBoxItemNotSelected:hover{
	color: #ee3434;
}

.sortBoxSeparator{
	width: 100%;
	height: 1px;
	background-color: #ee3434;
}

.searchResultContainer{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	width: auto;
	cursor: pointer;
	background-color: #fff;
	transition: background-color 0.5s;
}

.searchResultContainer:hover{
	background-color: #f5f5f5;
}

.searchResultTitle{
	font-family: Titillium Web;
	font-size: 18px;
	color: #ee3434;
	font-weight: bold;
	margin-bottom: 10px;
	width: auto;
}

.searchResultContent{
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
	width: auto;
}

.searchResultSeparator{
	margin-left: 140px;
	margin-right: 140px;
	margin-top: -1px;
	width: auto;
	height: 1px;
	background-color: #ebebeb;
}

.pageNavigationContainer{
	width: 100%;
	font-family: Titillium Web;
	font-size: 14px;
	margin-top: 30px;
}

.pageNavigation{
	margin-left: auto;
	margin-right: auto;
	height: 22px;
	width: 240px;
}

.pageNavigationItem{
	width: 80px;
	height: 22px;
	display: block;
	vertical-align: middle;
	text-align: center;
	color: #b7b7b7;
	float: left;
}

.headerTabs{
	width: 864px;
	height: 43px;
}

.headerFollowupTabs{
	visibility: hidden;
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: #fff;
}

.headerSeparator{
	height: 5px;
	width: 100%;
	background-color: #ee3434;
}

.tab{
	height: 40px;
	padding-top: 3px;
	background-color: #fff;
	font-family: Titillium Web;
	font-size: 24px;
	color: #373737;
	width: 144px;
	float: left;
	cursor: pointer;
	transition: color 0.5s;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.tab:hover{
	color: #ee3434;
}

.tabSelected{
	height: 40px;
	padding-top: 3px;
	background-color: #ee3434;
	font-family: Titillium Web;
	font-size: 24px;
	color: #ffffff;
	width: 144px;
	float: left;
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.filterTitle{
	background-color: #fff;
	font-family: Titillium Web;
	font-size: 24px;
	color: #ee3434;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	display: block;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}

.postsBody{
	width: 864px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-bottom: 30px;
	overflow: hidden;
	border: solid 1px #ebebeb;
}

.postContainer{
	width: 100%;
	overflow: hidden;
}

.postHeader{
	width: 100%;
	min-height: 50px;
	overflow: hidden;
}

.postHeaderTitle{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 24px;
	margin-right: 24px;
	font-family: Titillium Web;
	font-size: 24px;
	font-weight: bold;
	color: #ee3434;
	overflow: hidden;
}

.postHeaderSeparator{
	width: 100%;
	height: 2px;
	background-color: #ee3434;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	overflow: hidden;
}

.postBody{
	width: 100%;
}

.postInfo{
	margin-left: 24px;
	margin-top: 5px;
	font-family: Titillium Web;
	font-size: 14px;
	color: #5F5F5F;
}

.postBodyContent{
	font-family: Titillium Web;
	color: #373737;
	font-size: 18px;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 10px;
	margin-top: 15px;
	overflow: hidden;
}

.tag{
	font-size: 14px;
	color: #fff;
	font-family: Titillium Web;
	background-color: #ee3434;
	height: 22px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: pointer;
	border-radius: 11px;
	border:1px solid #ee3434;
	transition: color 0.5s, background-color 0.5s;
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}

.tagsWrapper{
	width: 100%;
	margin-top: 10px;
}

.tag:hover{
	background-color: #fff;
	color: #ee3434;
}

img.globalImageStyle{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.commentSection{
	width: 794px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.commentFormRow{
	width: 100%;
	height: 30px;
	padding-bottom: 10px;
}

.commentFormattingBox{
	width: 32px;
	height: 32px;
	margin-right: 8px;
	float: left;
}

.formatBold{
	background-image: url(../images/format_bold.jpg);
}

.formatItalic{
	background-image: url(../images/format_italic.jpg);
}

.formatEmo{
	background-image: url(../images/format_emo.jpg);
}

.formatBoldHover{
	background-image: url(../images/format_bold_hover.jpg);
}

.formatInnerHover{
	opacity: 0;
	width: 32px;
	height: 32px;
	transition: opacity 0.5s;
}

.formatInnerHover:hover{
	opacity: 1;
}

.formatItalicHover{
	background-image: url(../images/format_italic_hover.jpg);
}

.formatEmoHover{
	background-image: url(../images/format_emo_hover.jpg);
}

.emoBox{
	width: 449px;
	height: 0px;
	padding-left: 3px;
	padding-right: 3px;
	margin-bottom: 0px;
	background-color: #fff;
	overflow: hidden;
	opacity: 0;
	transition: height 0.5s, opacity 0.5s, margin-bottom 0.5s;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.emoBoxItem{
	width: 18px;
	height: 18px;
	padding: 4px;
	float: left;
	background-color: #fff;
	opacity: 0.5;
	transition: background-color 0.25s, opacity 0.25s;
}

.emoBoxItem:hover{
	background-color: #ddd;
	opacity: 1;
}

.footer{
	height: 183px;
	background-color: #ee3434;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	display: inline-table;
}

.footerLeft{
	height: 183px;
	width: 218px;
	display: table-cell;
	vertical-align: middle;
	padding-left: 27px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.footerCenter{
	height: 183px;
	display: table-cell;
	align-items: center;
	color: #fff;
	font-family: Titillium Web;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
}

.footerRight{
	width: 301px;
	height: 183px;
	background-image: url(../images/footer_logo.jpg);
	background-position: bottom right;
	background-repeat: no-repeat;
	display: table-cell;
}

.footerLeftIcon{
	width: 50px;
	height: 50px;
	float: left;
	margin: 7px;
}

.footerLeftIconInner{
	width: 50px;
	height: 50px;
	opacity: 0;
	transition: opacity 0.5s;
}

.footerLeftIconInner:hover{
	opacity: 1;
}

.footerLeftIconFacebook{
	background-image: url(../images/social_facebook.jpg);
}

.footerLeftIconTwitter{
	background-image: url(../images/social_twitter.jpg);
}

.footerLeftIconLinkedin{
	background-image: url(../images/social_linkedin.jpg);
}

.footerLeftIconGithub{
	background-image: url(../images/social_github.jpg);
}

.footerLeftIconScirra{
	background-image: url(../images/social_scirra.jpg);
}

.footerLeftIconNewgrounds{
	background-image: url(../images/social_newgrounds.jpg);
}

.footerLeftIconFacebookHover{
	background-image: url(../images/social_facebook_hover.jpg);
}

.footerLeftIconTwitterHover{
	background-image: url(../images/social_twitter_hover.jpg);
}

.footerLeftIconLinkedinHover{
	background-image: url(../images/social_linkedin_hover.jpg);
}

.footerLeftIconGithubHover{
	background-image: url(../images/social_github_hover.jpg);
}

.footerLeftIconScirraHover{
	background-image: url(../images/social_scirra_hover.jpg);
}

.footerLeftIconNewgroundsHover{
	background-image: url(../images/social_newgrounds_hover.jpg);
}

#wrapper{
	position: relative;
	min-height: 100%;
}

#content{
	padding-bottom: 203px;
}

input.formText{
	height: 20px;
	width: 100%;
	background-color: #fff;
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
	border: 1px solid #b0b0b0;
	outline-color: #ee3434;
	padding: 5px;
}

input[type=submit]{
	width: 130px;
	height: 45px;
	background-color: #ee3434;
	border: 1px solid #ee3434;
	display: block;
	vertical-align: middle;
	text-align: center;
	font-family: Titillium Web;
	color: #fff;
	font-size: 18px;
	outline: 0;
	transition: background-color 0.5s, color 0.5s;
}

input[type=submit]:hover{
	background-color: #fff;
	color: #ee3434;
}

.commentLabel{
	height: 42px;
	width: 100%;
	font-family: Titillium Web;
	font-size: 18px;
	color: #373737;
	vertical-align: middle;
	display: block;
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

textarea{
	height: 131px;
	width: 100%;
	padding: 5px;
	background-color: #fff;
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
	border: 1px solid #b0b0b0;
	resize: none;
	outline-color: #ee3434;
}

.notificationHeader{
	word-wrap: break-word;
	font-family: Titillium Web;
	font-size: 18px;
	color: #ee3434;
}

.notificationContent{
	word-wrap: break-word;
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
	margin-top: 5px;
}

.commentTitle{
	width: 100%;
	color: #ee3434;
	font-family: Titillium Web;
	font-size: 18px;
	font-weight: bold;
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.commentHeader{
	width: 750px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

.commenterName{
	font-family: Titillium Web;
	font-size: 14px;
	color: #5F5F5F;
	text-align: left;
	width: 50%;
	float: left;
}

.commentDate{
	font-family: Titillium Web;
	font-size: 14px;
	color: #5F5F5F;
	text-align: right;
	width: 50%;
	float: right;
}

.commentContent{
	font-family: Titillium Web;
	font-size: 14px;
	color: #373737;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 50px;
	word-wrap: break-word;
}

.commentSeparator{
	width: 770px;
	height: 1px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ebebeb;
}

.designThumbnailWrapper{
	width: 200px;
	height: 200px;
	overflow: hidden;
	float: left;
	opacity: 0.75;
	transition: opacity 0.5s;
}

.designThumbnailWrapper:hover{
	opacity: 1;
}

.designGallery{
	width: 800px;
	padding: 32px;
	position: relative;
	z-index: 0;
}

.designThumbnail{
	width: 200px;
	height: 200px;
	visibility: hidden;
}

.designThumbnailLoading{
	width: 200px;
	height: 200px;
	visibility: visible;
	background-image: url(../images/loading.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.overallShadow{
	visibility: hidden;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	position: fixed;
	z-index: 2;
	transition: opacity 0.5s
}

.photoWindow{
	visibility: hidden;
	width: 0px;
	height: 0px;
	opacity: 0;
	margin: auto;
	position: fixed;
	z-index: 3;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #fff;
	transition: height 0.5s, width 0.5s, opacity 0.5s;
}

.photoWindowView{
	float: left;
	height: 100%;
	width: 540px;
	background-color: #f5f5f5;
	opacity: 0;
	transition: opacity 0.25s;
}

.photoWindowImage{
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.photoWindowImageControls{
	width: 540px;
	height: 128px;
	padding-top: 186px;
	opacity: 0;
	transition: opacity 0.5s;
}

.photoWindowImageControlsNavigationButton{
	height: 128px;
	width: 50px;
	float: left;
	opacity: 0.5;
	transition: opacity 0.5s;
}

.photoWindowImageControlsNavigationButton:hover{
	opacity: 0.75;
}

.photoWindowImageControlPrev{
	background-image: url(../images/navigation_prev.jpg);
}

.photoWindowImageControlNext{
	background-image: url(../images/navigation_next.jpg);
}

.photoWindowImageControlsFullscreenWrapper{
	width: 440px;
	height: 128px;
	float: left;
}

.photoWindowImageControlFullscreenButton{
	width: 50px;
	height: 51px;
	margin: auto;
	margin-top: 39px;
	background-image: url(../images/fullscreen.jpg);
	opacity: 0.5;
	transition: opacity 0.5s;
}

.photoWindowImageControlFullscreenButton:hover{
	opacity: 0.75;
}

.photoWindowDetails{
	float: right;
	height: 100%;
	width: 324px;
	background-color: #fff;
	opacity: 0;
	transition: opacity 0.25s;
}

.photoWindowCloseButtonWrapper{
	width: 314px;
	height: 16px;
	margin-top: 10px;
	margin-right: 10px;
}

.photoWindowCloseButton{
	float: right;
	width: 16px;
	height: 16px;
	background-image: url(../images/close_button.jpg);
}

.photoWindowCloseButtonHover{
	width: 16px;
	height: 16px;
	background-image: url(../images/close_button_hover.jpg);
	opacity: 0;
	transition: opacity 0.5s;
}

.photoWindowCloseButtonHover:hover{
	opacity: 1;
}

.photoWindowTitle{
	width: 260px;
	height: 36px;
	margin-left: 22px;
	margin-right: 22px;
	margin-bottom: 5px;
	font-family: Titillium Web;
	color: #ee3434;
	font-size: 24px;
	overflow: hidden;
}

.photoWindowTitleSeparator{
	width: 324px;
	height: 2px;
	background-color: #ee3434;
}

.photoWindowDescription{
	width: 280px;
	padding: 22px;
	padding-bottom: 0px;
}

.photoWindowDescriptionWrapper{
	width: 100%;
	height: 357px;
	padding-bottom: 22px;
	overflow-y: auto;
	overflow-x: hidden;
}

.photoWindowToolbox{
	width: 100%;
	height: 50px;
}

.photoWindowToolboxItem{
	width: 50px;
	height: 50px;
	float: left;
	background-position: center;
	background-repeat: no-repeat;
}

.photoWindowToolboxItemLink{
	background-image: url(../images/photo_tool_link.jpg);
}

.photoWindowToolboxItemLinkHover{
	background-image: url(../images/photo_tool_link_hover.jpg);
	opacity: 0;
	transition: opacity 0.5s;
}

.photoWindowToolboxItemLinkHover:hover{
	opacity: 1;
}

.photoWindowToolboxItemDownload{
	background-image: url(../images/photo_tool_download.jpg);
}

.photoWindowToolboxItemDownloadHover{
	background-image: url(../images/photo_tool_download_hover.jpg);
	opacity: 0;
	transition: opacity 0.5s;
}

.photoWindowToolboxItemDownloadHover:hover{
	opacity: 1;
}